# Resource directory
node_modules/

# Editor directories and files
.vscode/
.history/
.idea/

# Custom ignore directories
dist/
docs/.vitepress/dist/
docs/.vitepress/cache/

# Custom ignore files
