# Resource directory
node_modules

# Editor directories and files
.vscode
.history
.idea

# Custom ignore directories
.husk
dist
docs/typeDoc
docs/.vitepress/dist

# Custom ignore files
